body{
background-color: ffc8dd;
}

.kucukben1{

    width: 100x;
    height: 100px;
    
    margin-bottom: 100px;

}

footer{
    font-weight: bold;
}

.kucukben2{
    width: 100px;
    height: 100px;

    
    
}